[push]
    default = simple
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[user]
    name = Max Linke
    email = max_linke@gmx.de
[alias]
    slog = log --oneline --topo-order --graph
    wdiff = diff --word-diff
    fmerge = merge --ff-only
    s = status -sb
	undo = "!f() { \\\ngit reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; \\\n}; f"
[merge]
    tool = kdiff3
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[help]
    autocorrect = 1
