[push]
    default = simple
[core]
    excludesfile = $HOME/.gitignore_global
    editor = vim
[user]
    name = Max Linke
    email = max_linke@gmx.de
[alias]
    slog = log --oneline --topo-order --graph
    wdiff = diff --word-diff
    fmerge = merge --ff-only
[merge]
    tool = kdiff3
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[help]
    autocorrect = 1
